$bgColor: #f6e8e5;
$textColor: black;

@font-face {
	font-family: Montserrat;
	src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
	font-family: 'Montserrat ExtraLight';
	src: url("../fonts/Montserrat/Montserrat-ExtraLight.ttf");
}

@font-face {
	font-family: 'Montserrat Bold';
	src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
}
