.landing {
    background: #232a3f;
    color: white;
    font-family: 'Anonymous Pro', monospace;
}

.terminal {

    background: black;
    width: 50%;
    height: 50%;
    margin: 10vh auto auto auto;
    border-radius: 5px;
    box-shadow: -10px 10px 5px #222222;

    .screen {
        padding: 1.5rem;
    }

    .title-bar {
        $btnMargin: 0.3rem;
        $btnSize: 10px;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr 25fr;
        padding: 0.5rem;
        background: #323846;

        .btn-nav {
            height: $btnSize;
            width: $btnSize;
            border-radius: 50%;
            border: 3px solid;
            display: inline-block;
            margin: $btnMargin;
        }

        .btn-close {
           background: red;
           border-color: red;
        }

        .btn-minimize {
            background: yellow;
            border-color: yellow;
        }

        .btn-maximize {
            background: green;
            border-color: green;
        }

        // Might have to change this later on
        .title {
            margin-left: 33%;
        }

        
    }

    .prompt {
        color: rgb(0, 255, 0);
        font-weight: bold;
    }

    .tilde {
        color: blue;
    }
}