@import 'utils';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Anonymous Pro', monospace;
}

// General setup

a {
    text-decoration: none;
    color: $textColor;
    transition: font-size, font-weight, color, 100ms ease-in;

    &:hover {
        color: red;
        font-size: 3rem;
        font-weight: bold;
        cursor: pointer;
    }
}

p {
    &:hover {
        font-size: 2rem;
        color: red;
    }
}

ul {
    list-style-type: none;
}

h3 {
    font-size: 3rem;
}

.page-description h1 {
    font-size: 12rem;
    padding: 1rem;
    margin: 0 1rem;
}

// Rules for pages based on Single-Page-Application

.page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    visibility: hidden;
    padding: 3rem;
    height: 100vh;
    width: 100%;
    min-width: 100%;
    position: fixed;
    background: $bgColor;
    color: $textColor;
} 

.active {
    visibility: visible;
}

#landing {
    display: block;
    background: #232a3f;
    color: #fff;
    padding: 22vh;
    height: 100vh;

    p:hover {
        font-size: 1em;
        color: white;
    }

    .terminal {

        background-color: black;
        border-radius: 5px;
        box-shadow: -10px 10px 5px #222222;
        width: 65%;
        margin: auto;

        .title-bar {
            
            background-color: #323846;
            display: grid;
            grid-template-columns: repeat(3, 1fr) 40fr;

            .nav-btn {
                height: 15px;
                width: 15px;
                border: solid 3px;
                border-radius: 50%;
                margin: 10px;
            }
            
            .close {
                background-color: red;
                border-color: red;
            }

            .minimize {
                background-color: yellow;
                border-color: yellow;
            }

            .maximize {
                background-color: rgb(0, 255, 0);
                border-color: rgb(0, 255, 0);
            }

            .title {
                margin: 10px;
                text-align: center;
            }
        }

        .screen {
            font-size: 1.5rem;
            
            * {
                padding: 0.3rem;
            }

            .prompt {
                color: rgb(0, 255, 0);
                font-weight: 900;
            }

            .tilde {
                color: blue;
            }
        }
    }
}

// Nav bar will have the same look and feel for each page

.nav-bar {
    margin: auto;

    .hamburger-menu {
        visibility: hidden;
    }

    .nav-links {

        .nav-item {
            margin: 3rem;
            font-size: 3rem;
        }
    }
}

// Each page has its own ID

#homepage {
    h1 {
        font-size: 20rem;
        padding: 1rem;
        margin: 1rem;
    }

    h3, ul li a{
        padding: 0.5rem;
        margin: 0.5rem;
    }

    ul {
        padding-left: 10px;
    }

    .social-media li {
        display: inline-block;
    }
}

#aboutme {
    p {
        margin: 2rem;
    }
}

#projects {

}

#reachme {
    form {
        display: grid;

         * {
            margin: 1rem;
            padding: 1rem 1rem 0.5rem 1rem;
            border: none;
            background: $bgColor;
            color: $textColor;
         }

         input {
            border-bottom: 1px solid darken($bgColor, 10);
         }

         textarea {
             resize: none;
             border: 1px solid darken($bgColor, 10);
         }

         input:hover,
         textarea:hover{

             &::placeholder {
                 color: red;
                 font-size: 1.3em;
                 font-weight: bold;
             }
         }

        //  input:focus,
        //  textarea:focus{
        //      &::placeholder {
        //          color: $textColor;
        //          font-size: 1rem;
        //      }
        //  }

         button {
            &:hover {
                cursor: pointer;
            }
         }
    }
}

@import 'responsiveness';