@include mediaMobile {
	@include hamburgerMenu
	@include homepageSmall
	#app {
		background-color: red;
	}
}

@include mediaTablets {
	@include hamburgerMenu
	#app {
		background-color: blue;
	}
}

@include mediaLarge {
	#app {
		background-color: green;
	}

}

@include mediaXl {
	#app {
		background-color: yellow;
	}
	
}
